# ipws can generate profiling dump files
*.cpuprof
*.memprof

*.swp
.ipwsconfig
*.out
*.coverprofile
*.test
*.orig
*~

coverage.txt
gx-workspace-update.json

.ipws
bin/gx
bin/gx*
bin/tmp
bin/gocovmerge
bin/cover


vendor
.tarball
go-ipws-source.tar.gz
